h1 {
    text-align: center;
    color: orange;
}

h2 {
    text-align: center;
    color: orange;
}

body {
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../img/woods.jpg");    
}

.login {
    padding-top: 100px;
    background-color: black;
    opacity: 0.75;
}

p {
    color: white;
}