<html>
        <head>
            <title>User List</title>
            <!--CSS-->
            <link rel="stylesheet" href="../static/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="../static/main.css">
        </head>
        <body>
        <div class="Aligner">
            <div class="Aligner-item Aligner-item-style">
                <h1>List of all Users</h1>
                <h4>Welcome {{ username }}</h4>
                <table id="users">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    {% for row in userlist %}
                    <tr>
                          <td>{{ row[0] }}</td>
                          <td>{{ row[1] }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <a id="btn-signout" role="button" class="btn btn-default btn-left" href="/">Sign out</a>
                <!-- <a id="btn-deleteuser" role="button" class="btn btn-danger pull-right btn-right" href="/">Delete my Account</a> -->
            </div>
        </div>
        </body>
</html>