<html>
    <head>
        <title>User List - Login Screen</title>
        <!--CSS-->
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>
    <body>
    <div class="Aligner">
        <div class="Aligner-item Aligner-item-style">
                <h1>Happy Halloween</h1>
                <h3>Please Login Here</h3>
                <br>
                <form action="{{ url_for('checkCred') }}" method="post">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username_form" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" maxlength="20" class="form-control" name="password_form" placeholder="Password">
                        </div>
                        <a role="button" class="btn btn-primary btn-left" href="/displayRegister">Sign up</a>
                        <button type="submit" value="Submit"  class="btn btn-success pull-right btn-left">Login</button>
                </form>
        </div>
    </div>
    </body>
</html>