<html>
    <head>
        <title>User List - Login Screen</title>
        <!--CSS-->
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
    </head>
    <body>
    <div class="Aligner">
        <div class="Aligner-item Aligner-item-style">
                <h1>Happy Halloween</h1>
                <h3>Please Login Here</h3>
                <br>
                <form>
                        <div class="form-group">
                        <label for="exampleUsername">Username</label>
                        <input type="user" class="form-control" id="username_form" placeholder="Username">
                        </div>
                        <div class="form-group">
                        <label for="examplePassword">Password</label>
                        <input type="password" class="form-control" id="password_form" placeholder="Password">
                        </div>
                        <a role="button" class="btn btn-primary " href="register.html">Sign up</a>                    
                        <button type="submit" class="btn btn-success pull-right">Login</button>
                </form>
        </div>
    </div>
    </body>
</html>